RewriteEngine On

# Redirect index.html and /index to the home page
RewriteRule ^index(?:\.html)?$ / [R=301,L,NC]

# Redirect /page.html to /page
# This also supports filenames that already contain dots, like services-social.media.html
RewriteCond %{THE_REQUEST} \s/+(.+?)\.html(?:[\s?]|$) [NC]
RewriteRule ^(.+)\.html$ /$1 [R=301,L,NE]

# Internally serve /page from /page.html
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.+?)/?$ $1.html [L]
